 img{
      height: 60px;
    }

    body {margin:0;}

    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav .icon {
      display: none;
    }

    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

    }

    #work-in-progress {
          position: fixed;
          width: 100%;
          height: 100%;
          font-size: 150px;
          text-align: center;
          vertical-align: middle;
          color: #000000;
          z-index: 200000;
          background-color: #FFFFFF;
        }

        .work-spinner {
          background-color: rgba(0,0,0,0);
          border: 9px solid rgba(27,61,226,0.9);
          opacity: .9;
          border-left: 5px solid rgba(0,0,0,0);
          border-radius: 120px;
          -webkit-box-shadow: 0 0 35px #1B3DE2;
          box-shadow: 0 0 35px #1B3DE2;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          -moz-animation: spin .5s infinite linear;
          -webkit-animation: spin .5s infinite linear;
          -o-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
        }
      #map {
        height: 460px;
        width: 100%;
      }
      .dispMPAInfo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    .headinf{

        width: 200px;
      }


    .modal-header-info {
        color:#fff;
        padding:10px;
        border-bottom:1px solid #eee;
        background-color: #333;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
         width: 100%;
    }

     .boundaryHeader{
        width: 300px !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
      }
        .link{
          color: white;
          text-decoration: none;
        }
        .link:hover{
          text-decoration: none;
        }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2c8dd6;
    overflow-x: hidden;
    transition: 0.1s;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
   /*color: #818181;*/
    color: #BBDEFB;
    display: block;
    transition: 0.1s;
    outline: none;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .1s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.activeList {
      background-color: #fff;
      color: #2c8dd0 !important;
} 

.image{
  margin: 0 auto;
  margin-bottom: 20px;
  text-align:center;
  height: 80px;

}

.logoMd{
  height: 100px;
  padding: 3px;
}
.hideNav{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
}
.hideNavInner{
  padding: 10px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}
 #graphical-rep{
  margin-bottom: 10px;
  top: 0;
 }

 #messageToSend{
  margin-top: 10px;
  width: 100%;
  height: 180px;
  color: black;
  resize: none;
}

#messageToSend:hover{
  cursor: default;
}

.efastHeader{
  color: black;
}

.selectNum{
  margin-bottom: 10px !important;
}
/*MODAL LOGINNNNNNNNNNNNNNNNNNNNNNNNNNNNN*/

.modal-login {    
    color: #636363;
    width: 350px;
  }
  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-login .modal-header {
    border-bottom: none;   
        position: relative;
        justify-content: center;
  }
  .modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-login .form-control:focus {
    border-color: #70c5c0;
  }
  .modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-login .close {
        position: absolute;
    top: -5px;
    right: -5px;
  } 
  .modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
        justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
  }
  .modal-login .modal-footer a {
    color: #999;
  }   
  .modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .modal-login .avatar img {
    width: 100%;
  }
  .modal-login.modal-dialog {
    margin-top: 80px;
  }
    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
        border: none;
    }
  .modal-login .btn:hover, .modal-login .btn:focus {
    background: #45aba6;
    outline: none;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }

  .phoneLogo{
    font-size: 66px;
    color: white;
  }

  .ifEmpty{
    color: red;
  }

  #order_data.dataTable tbody tr:hover{
      background-color: #d8d8d8;
      color: black;
      cursor: pointer;
    }

  #order_data.dataTable tbody tr:hover > .sorting_1 {
  background-color: #d8d8d8;
  }
  #modalChoices{
    color: black !important;
  }
  .forwardBOTS, .sendSeg{
    float: left;
  }

  select .siteHolders{
    background-color: white !important;
    color: black !important;
  }

  .siteIndicator{
    font-style: italic;
    font-size: 12px;
  }
  .loader-indicator{
    margin: 0 auto;
    text-align: center;
  }