@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
img{
  text-align: center;
  width: 190px;
  height: 45px;
  margin: 0 auto;
}
.fa{
  width: 15px;
}

.mobile{
	font-size: 15px !important;
}

body{
  
  font-family: 'Questrial', sans-serif;
  background: #fafafa !important;
}

.moveBod{
}

.img1{
  width: 50px;
  height: 50px;
}

.img2{
  width: 200px;
}

.mybudtext{
  font-weight: bold;
  font-size: 30px;
}
.simplenot{
  padding-top: 0 !important;
  margin-top: 0 !important;
  top: 0 !important;
  font-size: 12px;
}

.logohead span{
  display: block;
}

.inpt-serv{
  margin-bottom: 10px !important;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.int-field{
  font-family: 'Questrial', sans-serif;
  background: #fafafa !important;
}