*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-image: var(--main-background);
    background-color: var(--main-backgroundColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

/* NAVIGATION */

.headerDiv{
    height: 10vh;
    color: var(--cust-white);
}

.logoTextDiv{
    margin-left: 10px;
}

.textHeader{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: -5px;
}

.textHeaderRed{
    color: var(--cust-red);
}

.logoTextDiv .textSubHeader{
    font-size: 12px;
}

.headerDiv .rightHeader button{
    font-size: 1.4rem;
    color: var(--cust-white);
}

.headerDiv .rightHeader  button:hover{
    color: var(--cust-white);
}

.headerDiv .rightHeader .exportBtn{
    box-shadow: 2px 2px 10px #a3a2a2;
}

/* HEADER */

.salesRepDivHeader{
    background-image: linear-gradient(var(--cust-primary), var(--cust-primary10));
    color: var(--cust-white);
}

.rightsideBtnDiv a{
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 87, 255,1), rgba(0, 87, 255,0.1));
    text-decoration: none;
    color: var(--cust-white);
    font-size: 14px;
}

.rightsideBtnDiv a:hover{
    background-image: linear-gradient(rgb(56, 116, 235), rgba(0, 87, 255,0.1));
    color: #bbb9b9;
}

/* CONTENT */

.contentDiv{
    background-color: var(--cust-neutralWhite6);
    padding-bottom: 20px;
}

.buttonsDiv .buttondiv{
    border: none;
    border-radius: 20px;
    margin: 10px 5px;
    padding: 5px 40px;
    box-shadow: 2px 2px 10px var(--cust-grey);
    background-color: var(--cust-white);
}

.buttonsDiv .buttondiv:hover{
    background-color: var(--cust-primary);
    color: var(--cust-white);
}

.transacBtn{
    margin: 3px 0;
    padding: 5px 25px 5px 0;
    border: none;
    border-radius: 30px;
    text-align: left;
    background-image: url("../img/transacBtnBG.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: left bottom;
    box-shadow: 2px 2px 10px var(--cust-grey);
}

.transacBtn:hover{
    box-shadow: 2px 2px 10px #0E40F2;
}

.transacBtnIcon{
    border: 5px solid #203499;
    border-radius: 50%;
    background-image: linear-gradient(#031844, #0E40F2);
    color: var(--cust-white);
    font-size: 25px;
    padding: 5px;
    margin-right: 20px;
}


.defaultDataTableBtns{
    display: none;
}

.searchDiv{
    margin: 13px 10px;
}

.searchDiv .searchbar{
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: var(--cust-neutralWhite7);
}

.searchDiv .searchbar .search-input{
    font-size: 16px;
    color: var(--cust-primary);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.div1{
    text-align: start;
    
}

.div1 div{
    padding: 5px 30px 5px 15px;
    /* margin: auto; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--cust-grey);
    width: max-content;
    background-color: var(--cust-white);
}

.div1 div .mdi{
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px var(--cust-grey);
    color: var(--cust-grey);
}

.btn-valid{
    padding: 10px 50px;
    font-size: 18px;
    background-color: var(--cust-success);
    color: var(--cust-white);
}

.btn-cancelled{
    padding: 10px 40px;
    font-size: 18px;    
    background-color: var(--cust-red2);
    color: var(--cust-white);
}

.bootbox-close-button{
    float: right;
    border: none;
    background: transparent;
}

/* DataTables */
.dataTableTop1{
    background-color: var(--cust-neutralWhite6);
}

.dataTableMainDiv{
    background-color: var(--cust-white);
    border-radius: 20px;
    /* margin-top: 130px; */
}

.topleftBtn{
    padding: 10px 25px;
    border: none;
    background-image: linear-gradient(var(--cust-grey3), var(--cust-grey4));
    box-shadow: 2px 2px 10px var(--cust-grey);
    float: left;
}

.topleftBtn:first-child{
    border-top-left-radius: 20px;
}

.topleftBtn:last-child{
    margin-left: 1px;
    border-bottom-right-radius: 20px;
}

.topleftBtn:hover {
    color: var(--cust-white);
    text-decoration: underline;
    text-decoration-color: var(--cust-red);
    text-decoration-thickness: 2px;
    background-image: linear-gradient(var(--cust-primary-hover4), var(--cust-primary-hover5));
}

.dataTables_paginate.paging_simple_numbers{
    padding: 2px 10px;
    margin: auto;
    /* margin-top: 80px; */
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--cust-white)F;
    height: 40px;
    box-shadow: 2px 2px 10px var(--cust-grey);
    font-size: 12px;
}

.dt-button.buttons-collection {
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 2px 2px 10px var(--cust-grey)
}

#stockRequest_TAB_filter{
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: var(--cust-neutralWhite7);
}

#stockRequest_TAB_filter input{
    font-size: 16px;
    color: var(--cust-primary);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.dataTableSubDiv{
    text-align: end;
    padding-right: 20px;
}

.dataTables_wrapper .dataTables_info{
    float: right !important;
    font-size: 13px;
}

.dataTables_wrapper .dataTables_filter{
    float: right !important;
}

.dataTables_scroll{
    background-color: var(--cust-white);
    border-radius: 20px;
    padding: 10px;
}

.dt-buttons{
    margin: 15px 0 0 10px;
}

table.dataTable thead th{
    white-space: nowrap;
}

table.dataTable tbody tr{
    cursor: pointer;
}

.allCells{
    width: 550px !important;
}

@media only screen and (max-width: 992px) {
    #tableTitle{ 
        padding: 20px 120px; 
        font-size: 13px;
        font-weight: 900;
    } 
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
    }
    .topleftBtn{
        padding: 10px 5px;
        font-size: 12px;
        width: 75px;
    }
}

@media only screen and (max-width: 786px) {
    #tableTitle{ 
        padding: 20px 140px; 
        font-size: 15px;
        font-weight: 900;
    } 
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
    }
    .topleftBtn{
        padding: 10px 5px;
        font-size: 12px;
        width: 80px;
    }
}

@media screen and (max-width: 767px){
    .lowerHeaderDiv {
        flex-direction: column;
    }
    .dataTableSubDiv{
        flex-direction: column;
    }
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: right !important;
    }
    #tableTitle{
        padding: 20px 100px;
        font-size: 12px;
        font-weight: 900;
    }
    .salesRepDivHeader {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 576px){
    .buttonsDiv{
        display: flex;
        justify-content: center;
    }
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
        
    }
    .searchDiv{
        display: flex;
        justify-content: center;
    }
    .topleftBtn{
        padding: 10px 5px;
        font-size: 12px;
        width: 100px;
    }
}