*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-image: var(--main-background);
    background-color: var(--main-backgroundColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

/* NAVIGATION */

.headerDiv{
    height: 10vh;
    color: #FFF;
}

.logoTextDiv{
    margin-left: 10px;
}

.textHeader{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: -5px;
}

.textHeaderRed{
    color: #FF0000;
}

.logoTextDiv .textSubHeader{
    font-size: 12px;
}

.headerDiv .rightHeader button{
    font-size: 1.4rem;
    color: #FFF;
}

.headerDiv .rightHeader  button:hover{
    color: #FFF;
}

.headerDiv .rightHeader .exportBtn{
    box-shadow: 2px 2px 10px #a3a2a2;
}

/* HEADER */

.salesRepDivHeader{
    background-image: linear-gradient(var(--cust-primary), var(--cust-primary10));
    color: #FFF;
}

/* CONTENT */

.contentDiv{
    background-color: #D2D2D2;
    padding-bottom: 20px;
}

.buttonsDiv .buttondiv{
    border: none;
    border-radius: 20px;
    margin: 10px 5px;
    padding: 5px 40px;
    box-shadow: 2px 2px 10px #949494;
    background-color: #FFF;
}

.buttonsDiv .buttondiv:hover{
    background-color: #040B2F;
    color: #FFF;
}

.transacBtn{
    margin: 3px 0;
    padding: 5px 25px 5px 0;
    border: none;
    border-radius: 30px;
    text-align: left;
    background-image: url("../img/transacBtnBG.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: left bottom;
    box-shadow: 2px 2px 10px #949494;
}

.transacBtn:hover{
    box-shadow: 2px 2px 10px #0E40F2;
}

.transacBtnIcon{
    border: 5px solid #203499;
    border-radius: 50%;
    background-image: linear-gradient(#031844, #0E40F2);
    color: #FFF;
    font-size: 25px;
    padding: 5px;
    margin-right: 20px;
}


.defaultDataTableBtns{
    display: none;
}

.searchDiv{
    margin: 13px 10px;
}

.searchDiv .searchbar{
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: #F6F6F6;
}

.searchDiv .searchbar .search-input{
    font-size: 16px;
    color: #040B2F;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.div1{
    text-align: start;
    
}

.div1 div{
    padding: 5px 30px 5px 15px;
    /* margin: auto; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px #949494;
    width: max-content;
    background-color: #FFF;
}

.div1 div .mdi{
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #949494;
    color: #949494;
}

.btn-valid{
    padding: 10px 50px;
    font-size: 18px;
    background-color: #58FF69;
    color: #FFF;
}

.btn-cancelled{
    padding: 10px 40px;
    font-size: 18px;    
    background-color: #FF6868;
    color: #FFF;
}

.bootbox-close-button{
    float: right;
    border: none;
    background: transparent;
}

/* contentTableDiv */

.dataTableMainDiv{
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 12px;
}

.contentTableDiv #heading{
    text-align: center;
}

.contentTableDiv #subHeading{
    text-align: left;
    padding: 10px;
    float: left;
}

.contentTableDiv table {
    border-collapse: collapse;
    text-align: center;
}

.contentTableDiv th, thead, td {
    border: 1px solid black;
}

.contentTableDiv tbody tr:nth-child(even) {
    background-color: #e1e9eb;
}

.contentTableDiv h3{
    letter-spacing: 2px;
}
  
.contentTableDiv .text-left{
    text-align: left !important;
}

.contentTableDiv .text-right{
    text-align: right;
}

.contentTableDiv td{
    padding: 2px;
}



@media only screen and (max-width: 786px) {
    #tableTitle{ 
        padding: 20px 140px; 
        font-size: 15px;
        font-weight: 900;
    } 
}

@media screen and (max-width: 767px){
    .lowerHeaderDiv {
        flex-direction: column;
    }
    .dataTableSubDiv{
        flex-direction: column;
    }
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: right !important;
    }
    #tableTitle{
        padding: 20px 100px;
        font-size: 12px;
        font-weight: 900;
    }
    .salesRepDivHeader {
        font-size: 12px !important;
    }
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
    }
}


@media screen and (max-width: 576px){
    .buttonsDiv{
        display: flex;
        justify-content: center;
    }
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
        
    }
    .searchDiv{
        display: flex;
        justify-content: center;
    }
}