#georesetModal .modal-content{
    border-radius: 25px;
}
#georesetModal .modal-header{
    background-image: linear-gradient(#040B2F, #051A66);
    color: #FFF;
    /* height: 100px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#georesetModal #customerCode{
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 10px #cecece;
    color: #7a7a7a;
}

#georesetModal .resetButton{
    background-image: linear-gradient(#040B30, #0D2296);
    color: #FFF;
    width: 150px;
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cecece;
}

#georesetModal .resetButton:hover{
    background-image: linear-gradient(#040B2F, #051A66);
}