*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    background-image: var(--main-background);
    background-color: var(--main-backgroundColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.mainLeftDiv .loginMobileImage img{
    position: absolute;
    top: 100px;
    left: 10rem;
    width: 40vw;
    height: 70vh;
}

.mainRightDiv{
    padding-top: 150px;
    height: 100vh;
    background-color: #FFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #040B2F;
}

.loginHeader{
    font-weight: 700;
    font-size: 4.5rem;
}

.loginHeaderRed{
    color: #FF0000;
}

.loginInputDiv .input-group{
    height: 70px;
}

.loginInputDiv .loginBtn{
    height: 65px;
    background-image: linear-gradient(#0A30F3, #051772);
    color: #FFF;
    font-size: 1.3rem;
}

.loginInputDivLinks{
    margin: 20px 0;
}

.loginInputDivLinks a{
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    .mainLeftDiv .loginMobileImage img{
        position: absolute;
        top: 100px;
        left: 5rem;
        width: 40vw;
        height: 60vh;
    }
}

@media screen and (max-width: 991px) {
    .mainLeftDiv{
        background-image: url("../img/loginBackgroungPhoto.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 10px;
    }

    .mainLeftDiv .loginMobileImage{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .mainDiv {
        background-position: bottom;
    }

    .mainRightDiv{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }

    .loginHeader{
        font-size: 5rem;
    }
}

@media screen and (max-width: 576px) {
    .loginHeader{
        font-size: 4rem;
    }
}

@media screen and (max-width: 320px) {
    .loginHeader{
        font-size: 3rem;
    }
}