*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-optical-sizing: var(--main-font-optical-sizing);
    font-weight: var(--main-font-weight);
    font-style: var(--main-font-style);
}

html, body{
    background-image: var(--main-background);
    background-color: var(--main-backgroundColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

/* NAVIGATION */

.headerDiv{
    height: 10vh;
    color: var(--cust-white);
}

.logoTextDiv{
    margin-left: 10px;
}

.textHeader{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: -5px;
}

.textHeaderRed{
    color: var(--cust-red);
}

.logoTextDiv .textSubHeader{
    font-size: 12px;
}

.headerDiv .rightHeader button{
    font-size: 1.4rem;
    color: var(--cust-white);
}

.headerDiv .rightHeader  button:hover{
    color: var(--cust-white);
}

.headerDiv .rightHeader .exportBtn{
    box-shadow: 2px 2px 10px #a3a2a2;
}

/* HEADER */

.salesRepDivHeader{
    background-image: linear-gradient(var(--cust-primary), var(--cust-primary10));
    color: var(--cust-white);
}

/* CONTENT */

.contentDiv{
    background-color: var(--cust-neutralWhite6);
    padding-bottom: 20px;
}

.buttonsDiv .buttondiv{
    border: none;
    border-radius: 20px;
    margin: 10px 5px;
    padding: 5px 40px;
    box-shadow: 2px 2px 10px var(--cust-grey);
    background-color: var(--cust-white);
}

.buttonsDiv .buttondiv:hover{
    background-color: #040B2F;
    color: var(--cust-white);
}

.transacBtn{
    margin: 3px 0;
    padding: 5px 25px 5px 0;
    border: none;
    border-radius: 30px;
    text-align: left;
    background-image: url("../img/transacBtnBG.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: left bottom;
    box-shadow: 2px 2px 10px var(--cust-grey);
}

.transacBtn:hover{
    box-shadow: 2px 2px 10px #0E40F2;
}

.transacBtnIcon{
    border: 5px solid #203499;
    border-radius: 50%;
    background-image: linear-gradient(#031844, #0E40F2);
    color: var(--cust-white);
    font-size: 25px;
    padding: 5px;
    margin-right: 20px;
}


.defaultDataTableBtns{
    display: none;
}

.searchDiv{
    margin: 13px 10px;
}

.searchDiv .searchbar{
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: var(--cust-neutralWhite7);
}

.searchDiv .searchbar .search-input{
    font-size: 16px;
    color: #040B2F;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.div1{
    text-align: start;
    
}

.div1 div{
    padding: 5px 30px 5px 15px;
    /* margin: auto; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--cust-grey);
    width: max-content;
    background-color: var(--cust-white);
}

.div1 div .mdi{
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px var(--cust-grey);
    color: var(--cust-grey);
}

.btn-valid{
    padding: 10px 50px;
    font-size: 18px;
    background-color: var(--cust-success);
    color: var(--cust-white);
}

.btn-cancelled{
    padding: 10px 40px;
    font-size: 18px;    
    background-color: var(--cust-red2);
    color: var(--cust-white);
}

.bootbox-close-button{
    float: right;
    border: none;
    background: transparent;
}

/* DataTable Latest 07-07-25 */
.dataTableMainDiv .dt-scroll{
    margin-top: 10px;
    padding: 0 10px 15px 10px;
}

.dataTableBottomPagination{
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--cust-white);
    height: 35px;
    box-shadow: 2px 2px 10px var(--cust-grey);
}

.dataTableBottomPagination .pagination .dt-paging-button .page-link{
    color: var(--cust-primary9) !important;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.dataTableBottomPagination .pagination .dt-paging-button.active .page-link{
    background-color: var(--cust-primary9) !important;
    color: var(--cust-white) !important; 
    border: none;
}

.dataTableBottomPagination .pagination .dt-paging-button.disabled .page-link{
    background: var(--cust-white) !important;
    color: var(--cust-primary9) !important; 
    border: none;
}

.dataTablePagination{
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--cust-white);
    height: 35px;
}

.dataTablePagination .pagination .dt-paging-button .page-link{
    color: var(--cust-primary9) !important;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.dataTablePagination .pagination .dt-paging-button.active .page-link{
    background-color: var(--cust-primary9) !important;
    color: var(--cust-white) !important; 
    border: none;
}

.dataTablePagination .pagination .dt-paging-button.disabled .page-link{
    background: var(--cust-white) !important;
    color: var(--cust-primary9) !important; 
    border: none;
}

#stockRequest_TAB_info{
    font-size: 12px;
    margin-right: 10px;
}

.dataTable thead{
    border-bottom: 2px solid #000;
}

.dataTable thead tr td{
    border-right: 0.1px solid #f9f7f7;
    border-left: 0.1px solid #f9f7f7;
}

.dataTable thead .dt-column-header .dt-column-title{
    text-align: center !important;
    font-weight: bold;
}

.dataTable thead .dt-column-header:hover{
    cursor: pointer;
}

.dataTable .sorting_1{
    background-color: var(--cust-neutralWhite7) !important;
}

.dataTable tbody tr td{
    align-items: center;
}

.dt-button.buttons-collection {
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #999;
    font-size: 12px;
    color: #000;
}

.dt-button.buttons-collection:hover {
    background-image: linear-gradient(to bottom, #ffffff59 0%, #e0e0e0 100%);
    border: 1px solid #ffffff80;
    border: 1px solid #00000026;
    box-shadow: 0 4px 5px rgba(144, 144, 144, 0.149);
    transform: translateY(-2px);
    cursor: pointer;
}


.dataTable{
    font-size: 10px;
}

.dt-info{
    margin-top: 10px;
    font-size: 10px;
}

.modalBodyTitle div label{
    margin-bottom: 0;
    font-size: 10px;
    color: #a3a2a2;
    text-transform: uppercase;
}

.modalBodyTitle div span{
    font-size: 12px;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    display: inline-block; 
}

.proceedBtn{
    background-color:var(--cust-primary9);
    color: var(--cust-white);
}

.proceedBtn:hover{
    background:linear-gradient(var(--cust-primary9),var(--cust-primary4));
    color: var(--cust-white);
}

.modal-footer button{
    font-size: 14px;
}

#myTab .nav-item .nav-link{
    color: var(--cust-primary);
}

.mainbtn {
    position: relative;
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 20px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease;
}

.mainbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    pointer-events: none;
    z-index: 2;
}

.mainbtn:hover {
    background: linear-gradient(var(--cust-primary10),var(--cust-primary-hover4));
    box-shadow:
        4px 4px 10px rgba(0, 0, 0, 0.1),
        -4px -4px 10px rgba(255, 255, 255, 0.1),
        inset 1px 1px 2px rgba(255, 255, 255, 0.2),
        inset -1px -1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.mainbtn:hover::before {
    animation: shineNeumorphic 0.6s ease;
}


@media only screen and (max-width: 786px) {
    #tableTitle{ 
        padding: 20px 130px; 
        font-size: 15px;
        font-weight: 900;
    } 
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
        
    }
}

@media screen and (max-width: 767px){
    .lowerHeaderDiv {
        flex-direction: column;
    }
    .dataTableSubDiv{
        flex-direction: column;
    }
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: right !important;
    }
    #tableTitle{
        padding: 20px 100px;
        font-size: 12px;
        font-weight: 900;
    }
    .salesRepDivHeader {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 576px){
    .buttonsDiv{
        display: flex;
        justify-content: center;
    }
    .buttonsDiv .buttondiv{
        font-size: 10px;
        min-width: 40px;
        padding: 5px 30px;
        
    }
    .searchDiv{
        display: flex;
        justify-content: center;
    }
}

@keyframes shineNeumorphic {
    0% {
        left: -75px;
    }
    100% {
        left: 130%;
    }
}