@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
	font-size: 10px;
	width: 1200px;
}

table {
	border-collapse: collapse;
	text-align: center;
	width: 1200px;
	border-bottom: none !important; 
}

th, thead, td {
	border: 1px solid black;
}

.tablecont tbody tr td:nth-child(1){
	border-left: none !important;
}

.tablecont tbody tr td:nth-child(13){
	border-right: none !important;
}

tfoot, .hdr{
	font-weight: bold;
}

.blank_row
{
	height: 25px !important; /* overwrites any other rules */
	background-color: #FFFFFF;
}

.tablecont tbody{
	border-left: none !important;
	border-right: none !important;
}

.tablecont tbody tr:nth-child(odd) {
	background-color: #e1e9eb;
}

.firstfooter tr:nth-child(odd) {
	background-color: #e1e9eb;
}

.text-left{
	text-align: left;
}

.tablecont{
	margin-top: -50px !important;
}

h3{
	font-size: 17px;
	text-align: center;
}

hr { 
	display: block;
	overflow: hidden;
	width: 200px;
	border-style: inset;
	border-width: 1px;
	padding: 0 !important;
}

.smallfnt{
	font-size: 8px;
}

.text-right{
	text-align: right;
	padding-right: 10px;
}

.intp{
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: inherit;
}

#header1-r-site{
	border-bottom: solid 2px;
	border-bottom-width: thin;
}

.footer-inv{
	border-right: none !important; border-left: none !important; border-bottom: none !important; display: hidden;
}

.deno-td{
	padding-right: 65px;
}

.intp{
	text-align: center;
	font-weight: bold;
	font-size: 9px;
	text-align: right;
	float: right;
}

#fetchCont{
	font-size: 20px;
	color: #202786;
	margin-top: 200px !important;
	font-weight: normal !important;
	margin: 0 auto;
	text-align: center;
}

.fa-spin{
	margin-right: 10px;
	font-size: 30px;
}

#printDate{
	font-size: 11px !important;
	font-weight: normal;
}

.checkImage{

}

#dcr-mainBody{
	margin-top: -55px;
}

