@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
	body{
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
	}

	#heading{
	  text-align: center;
	}

	#subHeading{
	  text-align: left;
	  padding: 10px;
	  float: left;
	}

	table {
	  border-collapse: collapse;
	  text-align: center;
	}

	th, thead, td {
	  border: 1px solid black;
	}

	td:nth-child(1){
			border-left: none !important;
	}

	td:nth-child(9){
		border-right: none !important;
	}

	tbody tr:nth-child(even) {
	  background-color: #e1e9eb;
	}

	h3{
		letter-spacing: 2px;
	}
	
	.text-left{
		text-align: left !important;
	}

	.text-right{
		text-align: right;
	}

	td{
		padding: 2px;
	}

	.subHeading2{
		float: right;
	}

	.print{
		background-color:#36a357;
	}

	.export{
		background-color:#3676a3;
	}

	.btn{
		width: 200px;
		padding: 5px;
		outline: none;
		border: none;
		color: white;
	}

	.btn:hover{
		cursor: pointer;
	}

	.explabel{
		text-align: left !important;
	}